header {
  height: 1.19997rem;
  background-color: #FF841D;
  position: relative;
}
header > .index {
  position: absolute;
  left: 0.26666rem;
  top: 0.26666rem;
  width: 0.66665rem;
  height: 0.66665rem;
  color: #fff;
  line-height: 0.66665rem;
}
[data-dpr='1'] header > .index {
  font-size: 40px;
}
[data-dpr='2'] header > .index {
  font-size: 80px;
}
[data-dpr='3'] header > .index {
  font-size: 120px;
}
header > h1 {
  color: #fff;
  text-align: center;
  line-height: 1.19997rem;
}
[data-dpr='1'] header > h1 {
  font-size: 24px;
}
[data-dpr='2'] header > h1 {
  font-size: 48px;
}
[data-dpr='3'] header > h1 {
  font-size: 72px;
}
header > .appDwn {
  position: absolute;
  width: 0.93331rem;
  height: 0.93331rem;
  right: 0.26666rem;
  top: 0.13333rem;
}
main {
  width: 100%;
  overflow: hidden;
}
main ul.info {
  background-color: #EFEFEF;
  padding-bottom: 0.13333rem;
}
main ul.info li {
  width: 4.173229rem;
  margin-right: 0.026666rem;
  border-bottom: 2px solid #EFEFEF;
  background-color: #fff;
  padding: 0.26666rem 0.39999rem;
}
main ul.info li > a {
  display: block;
  width: 100%;
  height: 100%;
}
main ul.info li > a > img {
  margin: 0 auto;
  width: 3.73324rem;
  height: 3.73324rem;
}
main ul.info li > a > .name {
  height: 0.79998rem;
  font-weight: 700;
  color: #000;
  line-height: 1em;
}
[data-dpr='1'] main ul.info li > a > .name {
  font-size: 14px;
}
[data-dpr='2'] main ul.info li > a > .name {
  font-size: 28px;
}
[data-dpr='3'] main ul.info li > a > .name {
  font-size: 42px;
}
main ul.info li > a > i {
  display: block;
  padding: 0.13333rem;
  color: #FF5D04;
}
[data-dpr='1'] main ul.info li > a > i {
  font-size: 12px;
}
[data-dpr='2'] main ul.info li > a > i {
  font-size: 24px;
}
[data-dpr='3'] main ul.info li > a > i {
  font-size: 36px;
}
main ul.info li > a > .author {
  padding: 0.13333rem;
}
[data-dpr='1'] main ul.info li > a > .author {
  font-size: 12px;
}
[data-dpr='2'] main ul.info li > a > .author {
  font-size: 24px;
}
[data-dpr='3'] main ul.info li > a > .author {
  font-size: 36px;
}
